<div class="wrap container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 foot-info">
            <div class="logo-f">
                <a href=""><img src="images/logo.svg" alt="GGJungle" width="162" height="45" /></a>
            </div>
            <p>
                Lầu 3, Toà nhà Green Phil, 8/1 - 8/3 Nguyễn Huy Tưởng, Phường 6, Quận Bình Thạnh
            </p>
            <p>hr@gogojung.vn</p>
            <p>0919 742 472</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 sitemap">
            <h4>Sitemap</h4>
            <ul class="nav-foot">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/contact.html">Liên Hệ</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 connect">
            <h4>Connect</h4>
            <ul class="nav-foot">
                <li>
                    <a href="https://www.facebook.com/GGJungleVietNam/" target="_blank">Facebook</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>