<a class="logo" href="/">
    <img src="images/logo.svg" alt="GGJungle" width="165" height="45" />
</a>
<button class="navbar-toggle">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>